@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;  
    cursor: default;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

/* -------------------------- */
/* --------- HEADER --------- */
/* -------------------------- */
header {
    color: white;
    overflow: auto;
    position: relative;
}

.logo-title {
    float: left;
    position: relative;
    font-size: 50px;;
    font: bolder;
    font-family: 'Barlow', sans-serif;;
    text-decoration: none;
    overflow: auto;
    list-style-type: none;
}


@media screen and (max-width:700px) {
    .Icon-Image {
        /* display: none; */
        position: absolute;
        top: 15px;
    }
    .logo-title {
        position: relative;
        display: none;
        float: none;
    }
    .outer-container nav ul li{
        text-align: center;
        display: inline;
    }

}

@media screen and (max-width:1000px) {
    .Icon-Image {
        /* display: none; */
        position: absolute;
    }
    .logo-title {
        position: relative;
        display: none;
        float: none;
    }
    .outer-container nav ul li{
        text-align: center;
        display: inline;
    }

}

.Icon-Image {
    float: left;
    display: block;
    max-width:125px;
    max-height:125px;
    margin-top: -30px;
    width: auto;
    height: auto;
    position: relative;
}


.outer-container {
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
    margin-top: -2px;
    overflow: auto;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;  
    cursor: default;
}

.outer-container nav {
    text-align: right;
    background-color: #d3d3d3;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    
}
.outer-container nav a{
    text-decoration: none;
    color: black;
    
}

nav ul a li:hover {
    color: rgb(73, 73, 73);
}

.outer-container nav ul li{
    display: inline;
    font-family: 'Barlow', sans-serif;
    font-size: 26px;
    padding-right: 48px;
}


#CurrentWebsite {
    text-decoration: underline;
}


footer {
    background-color: #d3d3d3;
    padding: 12px;
    border-top: black 2px solid;
    margin-top: 100%;
}

footer p {
    margin: 0;
    color: black;
    text-align: center;
}



/* ------------------------- */
/* --------- Main ---------- */
/* ------------------------- */

.content-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

#banner {
    border-top: 3px solid black;
}






.gallery-container {
    overflow: auto;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;

}

/* GALLERY AREA */
.gallery-image {
    width: auto;
    height: 384px;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    padding:5px;
    box-sizing: border-box;
    border-bottom: 3px solid black;
    outline-offset: -10px;
    border-radius: 15%; 
}

.image-container {
    columns: black;
    position: relative;
    float: left;
    
    background-color: rgb(255, 255, 255);
    
}

.gallery-text {
    font: bolder;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

.image-container a {
    text-decoration: none;
}